spring:
  profiles:
    include: @patrol.profile@
  application:
    name: @project.artifactId@

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      initial-size: 100
      min-idle: 50
      max-active: 300
      max-wait: 60000
      time-between-eviction-runs-millis: 6000
      min-evictable-idle-time-millis: 300000
      validation-query: select 1 from dual
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 300
      stat-view-servlet:
        login-username: admin
        login-password: admin@Chuangao@2022
        enabled: true
        url-pattern: /druid/*
        allow:
        filters: stat,wall,log4j2
        web-stat-filter:
          enabled: true


server:
  port: 8007
  servlet:
    context-path: /@project.artifactId@